@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #343a40;
  font-family: 'Archivo', sans-serif;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.search-btn {
  opacity: 0;
}

.image-container img {
  transition: all 0.7s;
}

.image-container:hover img {
  opacity: 0.5;
}

.image-container:hover .search-btn {
  opacity: 1;
}

.search-btn {
  transition: all 0.7s;
}

hr {
  border: none;
  border-top: 1px solid #bcccdc;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

td {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

@media (max-width: 68em) {
  .container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  html {
    font-size: 95%;
  }
}

@media (max-width: 24em) {
  html {
    font-size: 70%;
  }
}

label.menu {
  flex-direction: column;
  width: 25px;
  cursor: pointer;
  margin-bottom: 0;
}

.menu span {
  background: #f59f00;
  border-radius: 10px;
  height: 3px;
  margin: 5px 0 0 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.menu span:nth-of-type(1) {
  width: 50%;
}

.menu span:nth-of-type(2) {
  width: 100%;
}

.menu span:nth-of-type(3) {
  width: 75%;
}

input[type='checkbox'] {
  display: none;
}

.menu input[type='checkbox']:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(3px, 0px);
}

.menu input[type='checkbox']:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

.menu input[type='checkbox']:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(11.2px, -5px) rotatez(45deg);
}
