@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #343a40;
  font-family: 'Archivo', sans-serif;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.search-btn {
  opacity: 0;
}

.image-container:hover img {
  opacity: 0.5;
}

.image-container:hover .search-btn {
  opacity: 1;
}

hr {
  border: none;
  border-top: 1px solid #bcccdc;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

td {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
